/* styles.css */

/* Estilos de cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Encabezado principal */
h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Encabezados secundarios */
h2 {
    color: #333;
    margin-top: 30px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
}

/* Estilo para la lista de sabores */
#sabores-list {
    list-style-type: none;
    padding: 0;
}

/* Estilo para cada elemento de la lista */
#sabores-list li {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    transition: background 0.3s;
}

#sabores-list li:hover {
    background: #f0f0f0;
}

/* Estilo para los inputs */
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    align-self: right;

}

button:hover {
    background-color: #45a049;
}

/* Estilo para el contenedor */
.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#sabores-list li  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sabores-list li button  {
    margin-left: 10000;
}

